<%= form_with(model: prova) do |form| %>
  <% if prova.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(prova.errors.count, "error") %> prohibited this prova from being saved:</h2>

      <ul>
        <% prova.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <% if user_signed_in? %>
    <% if current_user.has_role? :professor %>
      <div>
        <%= form.label :titulo, style: "display: block" %>
        <%= form.text_field :titulo %>
      </div>
      <br/>
      <div>
        <%= form.label :instrucoes, style: "display: block" %>
        <%= form.text_field :instrucoes %>
      </div>
      <div>
        <%= form.label :nota, style: "display: block" %>
        <%= form.text_field :nota %>
      </div>
      <div>
      <%= form.label :concluida, style: "display: block" %>
      <%= form.radio_button :done,true %>
    </div>

    <% end %>
    <% if current_user.has_role? :aluno %>
      <div>
        <%= form.label :concluida, style: "display: block" %>
        <%= form.radio_button :done,true %>
      </div>
      <div>
        <%= form.label :nota, style: "display: block" %>
        <%= form.text_field :nota , disabled: true %>
      </div>
    <% end %>
  <% end %>
  
  

  <br/>
  <div class=“field form-group”>
        
  <%= form.number_field :user_id,
      id: :prova_user_id,
      value: current_user.id,
      type: :hidden  %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
