<%= form_with(model: questao) do |form| %>
  <% if questao.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(questao.errors.count, "error") %> Pergunta não salva:</h2>

      <ul>
        <% questao.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <% if user_signed_in? %>
   
    <% if current_user.has_role? :aluno %>
      <div>
        <%= form.label :pergunta, style: "display: block" %>
        <%= form.text_area :pergunta, disabled: true %>
      </div>
      <div>
        <%= form.label :resposta, style: "display: block" %>
        <%= form.text_area :resposta %>
      </div>
    <% end %>
    <% if current_user.has_role? :professor %>
      <div>
        <%= form.label :pergunta, style: "display: block" %>
        <%= form.text_area :pergunta %>
      </div>
      <div>
        <%= form.label :resposta, style: "display: block" %>
        <%= form.text_area :resposta , disabled: true %>
      </div>
    <% end %>

  <% end %>
  
  

  <div>
    <%= form.submit 'Salvar Pergunta' %>
  </div>
<% end %>
